[submodule "projects"]
	path = projects
	url = git@github.com:ncareol/public-field-projects
	sparsecheckout = true
[submodule "embedded-armel"]
	path = embedded-linux
	url = git@github.com:ncareol/embedded-linux
