[submodule "projects"]
	path = projects
	url = ../public-field-projects
	sparsecheckout = true
[submodule "embedded-daq"]
	path = embedded-daq
	url = ../embedded-daq
[submodule "src/nc-server"]
	path = src/nc-server
	url = ../nc-server.git
